
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          transition: all 0.6s ease;
          font-family: 'Comfortaa', cursive;
}

body {
  margin:0px;

  font-weight:100;
}

ul, li {
  margin:0px;
  padding:0px;
}

a {
  cursor:pointer;
  outline : none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.text-col {
  float:left;
  margin: 0 1%;
}

.col-12 {width:98%;}
.col-11 {width: 91.666666666%;}
.col-10 {width: 81.333333333%;}
 .col-9 {width: 73%;}
 .col-8 {width: 64.666666666%;}
 .col-7 {width: 56.333333333%;}
 .col-6 {width: 48%;}
 .col-5 {width: 39.666666667%;}
 .col-4 {width: 31.333333333%;}
 .col-3 {width: 23%;}
 .col-2 {width: 14.666666667%;}
 .col-1 {width:  6.333333334%;}

.strip {
  background: url(../images/strip-bg.png) repeat;
  position: fixed;
  height: 100%;
  width: 100px;
  z-index: 11;
  top:0px;
  left:0px;
}

.strip-icon {
  background: url(../images/sprite.png) -96px 110px repeat;
  bottom: 5%;
  position: absolute;
  left: 100%;
  width: 85px;
  height: 101px;
}
.page {
  z-index:1;
}

header {
  z-index: 10;
  width: 100%!important;
  position: fixed;
  top: 0px;
  left: 0px;
}

header ul {
  background:#020202;
  overflow:auto;
}

header.sticky .logo img {
  height: 50px;
  width: auto;
}

header.sticky .top-header nav {
  margin-top:1.8em;
}

header.sticky .top-header nav ul li a {
  font-size: 1.5em;
}

header .logo {
  float:left;
  margin-top:1.3em;
}

header .logo img {
  width:auto;
  height:100px;

}

header .top-header nav {
  position: relative;
  float:right;
  margin-top:5em;
}


header .top-header nav ul li {
  display: inline;
  margin-left: 3em;
}

header .top-header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  font-weight: 100;
}

header .top-header nav ul li a:hover,
header .top-header nav ul li a.active {
  color: #999;
}

section img {
  width:100%;
}

section {
  margin:0px;
  padding:0px;
  position:relative;
  width:100%;
  overflow:auto;
}

section > a {
  position:relative;
}


section.spacer {
  height:140px;
  background:#000;
}

section.spacer.sub-nav-spacer {
  margin-bottom:130px;
}

section > a > .col,
section .col {
  overflow: auto;
  display: block;
  position: absolute;
  width: 100%;
  bottom:0em;
}

section.product-header .col {
  z-index: 1;
  top: 0px;
  bottom: initial;
}

.flexslider {
  margin:0px;
  border:0px;
  overflow:hidden;
}

.flexslider .slides > li {
  position:relative!important;
}

.product-roll .flexslider .slides > li:hover {
  opacity: 0.9;
  cursor: pointer;
}


.flex-direction-nav a {
  width: 100px;
  height: 100px;
  z-index:5;
  color:transparent;
  text-shadow:0px 0px 0px;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: 50px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: 130px;
}

figure {
  text-align:center;
  padding: 0 0 10em 100px;
  margin:0px;
}

figure figcaption {
  font-size: 2.3em;
  color: #111;
}

figure.bottom {
  padding-bottom: 3em;
}

figure.bottom figcaption {
  padding-bottom: 2em;
}

figure.bottom figcaption.bottom {
  padding-bottom: 0em;
}

.inner-content {
  margin-left: 100px;
}


.flex-direction-nav a:before {
  position: relative;
  top: 8pt;
  content: ""!important;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-right: 0.1em solid #fff;
  border-top: 0.1em solid #fff;
  margin-right: 0.5em;
}

.flex-direction-nav .flex-nav-prev:hover > a:before,
.flex-direction-nav .flex-nav-next:hover > a:before {
  border-right: 0.1em solid #111;
  border-top: 0.1em solid #111;
}

.flex-direction-nav .flex-prev {
  left: 140px;
}

.flex-direction-nav .flex-next {
  right: 60px;
}

.flex-direction-nav .flex-nav-prev a:before {
  transform: rotate(230deg);
  left:20px;
}

.flex-direction-nav .flex-nav-next a:before {
  transform: rotate(45deg);
}

picture {
  opacity:0.4;
}

.sub-nav picture {
  opacity:1;
}

section.product-header figure {
  text-align:left;
}

section.product-header figure h3 {
  font-size: 2em;
  color: #686868;
  font-weight: 100;
  margin: 1em;
}

.container {
  margin: 0 10%;
  width:80%;
  position: relative;
  overflow: auto;
}
.container.top-header {
  padding: 0 2em 1em 10%;
  z-index: 9;
  background: #020202;
  width:100%;
  margin:0em;
}
.container.sub-nav {
  padding: 0 0 0 100px;
  margin:0px;
  position: relative;
  z-index:8;
}



section .container {
  padding:0px;
  overflow:auto;
  margin: 0px;
  width:100%;
}

section .container p,
section .container h2,
section .container ul {
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 1000px;
  margin: 1em auto;
}

.box {
  position: relative;
  overflow: auto;
  max-width: 1000px;
  margin: 0 auto;
}

section .container ul li {
  list-style-type: none;
  margin-left:1.3em;
}
section .container ul li:before{
  content: "–"; /* en dash here */
  position: absolute;
  margin-left: -1.1em;
}

section .container p.small {
  font-size: 1.2em;
}

section .container p.big {
  font-size: 2.5em;
}

.sub-nav {
  z-index:8;
  width:100%;
}

.top-0 {
  top:-70px;
}

.sub-nav nav li {
  width:50%;
  float:left;
  list-style:none;
  position:relative;
  height:100%;
  overflow:hidden;
}


.sub-nav-three-elements nav li {
  width:33.33%;
}

.sub-nav nav li img {
  width:100%;
  min-height:80px;
  opacity:0.7;
}

.sub-nav nav li:hover img {
  cursor:pointer;
  opacity:1;
}

.sub-nav nav a span {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.sticky .sub-nav nav a span {
  font-size: 1.3em;
  bottom:1.2em;
}


figure h2,
figure figcaption {
  text-align: center;
}

figure h2 {
  font-size: 3em;
  font-weight: normal;
  color: #111;
  margin-bottom: 0em;
}


.link-arrow {
  position: absolute;
  right: 5em;
  bottom: 5em;
  width: 40px;
  height: 20px;
}
.link-arrow:after {
  left: 96%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 30px;
  margin-top: -30px;
}

.product-roll ul li {
  width: 16.66666667%;
  float: left;
}

.container td, .container th {
  width: 10%;
  text-align: center;
  padding: 1%;
}


.menu {
  width: 200px;
  position: absolute;
  z-index: 1;
  right: 30px;
}

.menu li {
  list-style-type:none;
}

section.sausage .col {
  position:absolute;
  z-index:1;
}


.clear {
  clear:both;
}

.alignleft {
  text-align:left!important;
}

.container.sub-nav ul {
  height:80px;
}
.sticky .container.sub-nav ul {
  height:50px;
}
header.sticky .sub-nav nav li span {
  top:inherit;
  bottom:15px;
  color:#ccc;
}

h1 {
  font-size: 2.4em;
}

.sub-title-links {
  margin-bottom: 2.5em;
}

.sub-title-links a {
  color: #424242;
  padding: 0 2em;
  font-size: 1.4em;
}



@media screen and (min-width: 1440px) {
  .container.top-header {
    padding: 0 10% 1em 10%;
  }
}

@media screen and (max-width: 1200px) {
  header .top-header nav ul li a {
    font-size: 1.5em;
  }
  .strip {
    width:60px;
  }
  .inner-content {
    margin-left: 60px;
  }
  figure,
  .container.sub-nav {
    padding-left:60px;
  }
  section .container p {
    max-width: 800px;
  }
  .sub-nav nav li img {
    height: 100%;
    width: auto;
  }

  .box {
    max-width: 800px;
  }

  section.product-header figure h3 {
    font-size: 1.8em;
  }
}


@media screen and (max-width: 999px) {
  .strip {
    max-width:50px;
  }
  header .logo {
    margin-top: 1em;
  }
  header .top-header nav ul li {
    margin-left: 2em;
  }
  header .top-header nav ul li a {
    font-size: 1.2em;
  }
  header .top-header nav {
    margin-top:3.3em;
  }
  header .logo img {
    height: 80px;
  }
  section.spacer {
    height: 110px;
  }
  figure h2 {
    font-size: 2em;
  }

  figure figcaption {
    font-size:1.5em;
  }

  .link-arrow {
    right: 3em;
    bottom: 2em;
  }
  .link-arrow:after {
    border-width: 20px;
  }

  .inner-content {
    margin-left: 50px;
  }
  figure {
    padding-left:50px;
    padding-bottom: 7em;
  }
  .container.sub-nav {
    padding-left:50px;
  }
  .index section .container p {
    max-width: 600px;
  }

  .box {
    max-width: 700px;
  }


}

@media screen and (max-width: 800px) {
  .col-11,
  .col-10,
   .col-9,
   .col-8,
   .col-7,
   .col-6,
   .col-5,
   .col-4 {width: 98%;}

   .flex-direction-nav {
     display:none;
   }

   .box {
     max-width: 600px;
   }

   .sub-title-links a {
       font-size: 1.3em;
    }

    section.product-header figure h3 {
      font-size: 1.2em;
    }

}

@media screen and (max-width: 736px) {

  header .logo {
    margin-top: 0.5em;
  }
  header .logo img,
  header.sticky .logo img {
    height:35px;
  }
  header .top-header nav,
  header.sticky .top-header nav {
    margin-top: 1em;
  }
  header .top-header nav ul li a,
  header.sticky .top-header nav ul li a {
    font-size: 1.2em;
  }
  header .top-header nav, header.sticky .top-header nav {
    margin-top: 0.6em;
  }

  .container.top-header {
    padding: 0 2em 0em 10%;
  }
  section.spacer {
    height: 47px;
  }
  .strip-icon {
    display:none;
  }

  .index section .container p {
    max-width: 500px;
  }

  h1 {
    font-size: 1.6em;
  }

  .sub-title-links {
    margin-bottom: 2.2em;
  }

  .sub-title-links a {
    padding: 0 1.3em;
    font-size: 1.2em;
  }

  .box {
    max-width: 500px;
  }
}

@media screen and (max-width: 599px) {

  .inner-content {
    margin-left: 30px;
  }
  figure,
  .container.sub-nav {
    padding-left:30px;
  }
  .index section .container p {
    max-width: 400px;
  }

  header.sticky {
    top: -100px;
  }
  .strip {
    max-width: 30px;
  }
  header .top-header nav, header.sticky .top-header nav {
    margin-top: 0.9em;
  }
  header .top-header nav ul li a, header.sticky .top-header nav ul li a {
    font-size: 1em;
  }
  header .top-header nav ul li {
    margin-left: 1.3em;
  }

  .index section .container p {
    font-size: 1.2em;
  }

  .product section .container p,
  .info section .container p {
    font-size: 0.9em;
    line-height:1.4em;
  }

  .product section .container li,
  .info section .container li {
    font-size: 0.7em;
    line-height:1.4em;
  }

  figure {
    padding-bottom:4em;
  }

  figure h2 {
    font-size:1.8em;
  }

  figure figcaption {
    font-size: 1.3em;
  }

  figure.bottom {
    padding-bottom: 2em;
  }


  header.sticky .container.sub-nav {
    margin: -2em 0 0 0;
  }

  section .container p.big {
    font-size: 1.6em;
  }

  h1 {
    font-size: 1.3em;
  }

  .sub-title-links {
    margin-bottom: 2em;
  }

  .sub-title-links a {
    padding: 0 1em;
    font-size: 1em;
  }

  section.spacer.sub-nav-spacer {
    margin-bottom:100px;
  }

  .box {
    max-width: 400px;
  }
}


@media screen and (min-width: 421px) and (max-width: 489px) {
  .container.top-header {
    padding: 0 0.5em 0em 10%;
  }
  header .top-header nav ul li {
    margin-left: 0.7em;
  }



}

@media screen and (max-width: 489px) {
  figure h2 {
    font-size: 1.4em;
  }
  figure figcaption {
    font-size: 1em;
  }
  .inner-content {
    margin-left: 30px;
  }
  figure {
    padding-left:30px;
  }
  .index section .container p {
    max-width: 280px;
    font-size: 1em;
  }
  .index section .container p.small {
    font-size: 1em;
  }
  .sub-nav nav li span {
    font-size: 1em;
    bottom: 2em;
  }

  .sub-title-links a {
    padding: 0px 0.7em;
    font-size: 0.8em;
  }

  .box {
    max-width: 320px;
  }

  .info table {
    font-size:0.7em;
  }
}

@media screen and (max-width: 420px) {

  .box {
    max-width: 280px;
  }

  section.spacer {
    height: 83px;
  }
  .container.sub-nav {
    margin: 0em;
    width:100%;
  }

  .container.top-header {
    padding: 0 0 0em 30px;
  }

  .container.top-header .logo {
    width:100%;
    text-align:center;
  }

  header .top-header nav,
  header.sticky .top-header nav {
    margin:0.2em 0 0.8em;
    float:left;
    width:100%;
    text-align:center;
  }
  header .top-header nav ul li {
    margin-left: 0.5em;
  }
  header .top-header nav ul li a, header.sticky .top-header nav ul li a {
    font-size: 0.8em;
  }

  figure h2 {
    font-size: 1.2em;
  }

  .index section .container p.big {
    font-size: 1.4em;
  }

  figure figcaption {
    font-size: 1.0em;
  }

  .index section .container p {
    max-width: 230px;
  }

  section .container p.small {
    font-size:0.9em;
  }

  section .container p,
  section .container h2,
  section .container ul {
    font-size: 1em;
  }

}
